{% extends "base.html" %}

{% block content %}
    <header>
        <div class="user-info">
            <img src="{{ user.avatar(96) }}" width="96" height="96" alt="User Avatar">
            <h2>Użytkownik: {{ user.username }}</h2>
        </div>
    </header>
    
  
        <form action="{{ url_for('edit_profile') }}" method="post">
            <div>
                <label for="username">Nazwa użytkownika:</label> <br>
                <input type="text" id="username" name="username" value="{{ user.username }}">
            </div>

            <div>
                <label for="first_name">Imię:</label> <br>
                <input type="text" id="name" name="name" value="{{ user.name }}">
            </div>
            <div>
                <label for="interests">Zainteresowania:</label> <br>
                <input type="text" id="interests" name="interests" value="{{ user.interests }}">
            </div>

            <div>
                <label for="about_me">O mnie:</label> <br>
                <textarea id="about_me" name="about_me">{{ user.about_me }}</textarea>
            </div>
            <br>
            <button class="btn btn-primary" type="submit">Zapisz zmiany</button>
        </form>
        <br>
        <div>
            <button class="btn btn-primary" onclick="location.href='{{ url_for('user', username=current_user.username) }}'">Powrót</button>
        </div>
        
{% endblock %}