{% extends "base.html" %}

{% block content %}
    <h1>Zarejestruj się</h1>
    <form action="/register_next_step" method="post" novalidate>
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="email" value="{{ email }}">
        <input type="hidden" name="password" value="{{ password }}">
        <p>
            <h4>Powiedz nam coś o sobie (opcjonalnie)</h4>

            <label for="name">Jakie masz na imie?</label><br>
            <input type="text" id="name" name="name" size="32"><br>

            <label for="interests">Jakie masz zainteresowania?</label><br>
            <input type="text" id="interests" name="interests" size="32"><br>
        </p>
        <p>
            <label for="about_me">Zaprezentuj się innym użytkownikom</label><br>
            <textarea id="about_me" name="about_me" cols="32" rows="4"></textarea><br>
        </p>

        <p>
            <button class="btn btn-primary" type="submit">Zakończ rejestrację</button>
        </p>
    </form>
{% endblock %}